<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Germanwings views (2015-03-25 to 2015-03-27)</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spa.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" type="text/css"/>
</head>

<body>
    <nav>
        <form>
            <fieldset>
                <label for="chart">Chart:</label>
                <select id="chart" name="chart">
                    <option value="motion" selected>MotionChart</option>
                </select>
            </fieldset>
        </form>
        <form>
            <fieldset>
                <label for="data">Data file:</label>
                <select id="data" name="data">
                    <option value="urlhist_timezone_offset.json" selected>Timezone offset</option>
                    <option value="urlhist_US_DE_ES_IT.json" >DE-ES-IT-US</option>
                    <option value="urlhist_US_CA.json">CA-US</option>
                </select>
            </fieldset>
        </form>
    </nav>

    <div id="container" />

    <!-- Third party javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- Application javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/jenkinsviewer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/motion-chart-viewer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/navviewer.js') }}"></script>

    <!-- Startup -->
    <script>
        var navview = new NavViewer();
    </script>
</body>
</html>
